<header>
    <%= render 'layouts/logo' %>
    <%= render 'layouts/nav' %>
</header>

<a href='/lexique' class='switch_language' id='français'>De Français à Corse</a>

<%= render 'layouts/alphabet_corse' %>
<%= render 'layouts/lessicu' %>