<h1>Gérer le blog</h1>
<ul>
  <li><%= link_to "Ajouter un article", new_article_path %></li>
  <li><%= link_to "Modifier/Supprimer un article", articles_path %></li>
  <li><%= link_to "Ajouter une catégorie", new_category_path %></li>
  <li><%= link_to "Modifier les catégories", categories_path %></li>
</ul>