<h1>Gérer lexique</h1>
<ul>
  <li><%= link_to "Ajouter un thème", new_theme_path %></li>
  <li><%= link_to "Modifier/Supprimer un thème", themes_path %></li>
  <li><%= link_to "Ajouter un mot/expression", new_word_path %></li>
  <li><%= link_to "Modifier/Supprimer un mot", words_path %></li>
</ul>
