.accueil nav {
    display: flex;
    align-items: center;
}

.accueil nav a {
    text-decoration-style: none;
    color: white;
    border-right: 1px solid white;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'BellGothic Black';
    height: 50px;
    vertical-align: middle;
}

.accueil nav a:last-child {
    border: none;
}

.accueil nav a:hover {
    text-decoration: none;
    color: #00cccc;
}

.admin_options {
    display: flex;
    justify-content: center;
}
