
.gestion_lexique {
    border: 1px solid #00cccc;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 50%;
    h1 {
        font-size: 25px;
        margin-right: 10px;
    }
    margin: 10px;
}

.gestion_blog {
    border: 1px solid #f17114;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 50%;
    h1 {
        font-size: 25px;
        margin-right: 10px;
    }
    margin: 10px;
}