.alphabet_wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.alphabet {
    display: -webkit-flex;
    display: flex;
    width: 90%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #e8e8e8;
    margin: 25px auto;
    height: 35px;
}

.alphabet li {
    display: flex;
    flex-shrink: 1;
    align-items: center;
}

.alphabet li a {
    color: #bbbbbb;
    text-decoration: none;
    font-family: Optima;
    font-weight: bold;
    font-size: 15px;
}

.alphabet li a:hover {
    color: #006666;
    font-weight: bold;
}

.alphabet li a.active {
    color: #f11414;
    font-weight: 800;
    font-size: 18px;
}

@media (max-width: 655px) {
    .alphabet {
        height: 30px;
        width: 90%;
    }
    .alphabet li a {
        font-size: 14px;
    }
    .alphabet li a.active {
        font-size: 15px;
    }
}