.alphabet_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alphabet {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: hsl(0, 0%, 60%);
    margin: 25px 10px;
    height: 35px;
}

.alphabet li {
    display: flex;
    flex-shrink: 1;
    align-items: center;
}

.alphabet li a {
    color: hsl(0, 0%, 60%);
    text-decoration: none;
    font-family: Optima;
    font-weight: bold;
    font-size: 15px;
}

.alphabet li a:hover {
    color: #006666;
    font-weight: bold;
}

.alphabet li a.active {
    color: #f11414;
    font-weight: 800;
    font-size: 18px;
}

@media (max-width: 655px) {
    .alphabet {
        height: 30px;
        width: 90%;
    }
    .alphabet li a {
        font-size: 14px;
    }
    .alphabet li a.active {
        font-size: 15px;
    }
}