.alphabet_wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.alphabet {
    display: -webkit-flex;
    display: flex;
    width: 90%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #e8e8e8;
    margin: 25px auto;
    height: 35px;
}

.alphabet li {
    display: flex;
    flex-shrink: 1;
    align-items: center;
}

.alphabet li a {
    color: #bbbbbb;
    text-decoration: none;
    font-family: Optima;
    font-weight: bold;
    font-size: 15px;
}

.alphabet li a:hover {
    color: #f17114;
}

.alphabet li a.active {
    color: #f17114;
    font-weight: 800;
    font-size: 18px;
}

@media (max-width: 655px) {
    .alphabet_wrapper {
        display: block;
        white-space: no-wrap;
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .alphabet {
        height: 30px;
        width: 100%;
        overflow-x: scroll;
        position: relative;
        li {
            display: block;
            padding: 0px 8px;
            margin: auto;
            a {
                display: inline-block;
                font-size: 14px;
                &:active {
                    font-size: 15px;
                }
            }
        }
    }
}