.success {
    text-align: center;
    display: flex;
    align-items: center;
    color: green;
    background-color: greenyellow;
    border: 1px solid green;
    p {
        margin: 0;
        vertical-align: middle;
        font-weight: bolder;
    }
}

.error {
    color: red;
    font-weight: bolder;
    text-align: center;
}
