#glossary {
    font-family: Optima;
    tr {
        text-align: center;
        th {
            color: red;
            font-weight: bold;
        }
    }
    .titres {
        background-color: #dddddd;
    }
}

.no_result p {
    text-align: center;
    font-family: Optima;
}