header {
    display: flex;
    align-items: center;
    font-family: 'Optima';
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    background: #006666e8;
    padding: 10px 30px;
    justify-content: space-between;
    .logo {
        display: flex;
        align-items: center;
        margin: 0px;
        color: white;
        span {
            margin-right: 8px;
            white-space: no-wrap;
            align-self: flex-end;
        }
        span:nth-child(1) {
            font-size: 24px;
        }
        span:nth-child(3) {
            margin-right: 0px;
        }
    }
    nav {
        overflow-x: scroll;
        flex-wrap: nowrap;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            text-decoration-style: none;
            color: white;
            padding-right: 25px;
            padding-left: 25px;
            vertical-align: middle;
            &:hover {
                text-decoration: none;
                color: #00cccc;
            }
        }
        a:last-child {
            border: none;
        }
    }
}

@media (max-width: 655px) {
    header {
        display: grid;
        padding: 0;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2px;
        grid-template-areas:
        "logo logo"
        "nav nav";
        .logo {
            position: relative;
            top: -3px;
            display: flex;
            grid-area: logo;
            justify-content: center;
            font-size: 19px;
            overflow: hidden;
            white-space: no-wrap;
            span {
                overflow: hidden;
                white-space: no-wrap;
                margin-right: 8px;
            }
        }
        nav {
            font-size: 20px;
            padding-bottom: 8px;
            width: 100%;
            display: flex;
            grid-area: nav;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
    }
}

@media (max-width: 280px) {
    header {
        padding: 0px;
        .logo span {
            display: inline-block;
            margin-right: 6px;
            overflow: hidden;
            span:nth-child(2) {
                margin-right: 3px;
            }
        }
    }
}