<div class='editor'>
  <ul class='corps'>
    <li class='gras'><i class="fas fa-bold"></i></li>
    <li class='italique'></li>
    <li class='surligner'></li>
    <li class='police'></li>
    <li class='couleur'></li>
    <li class='taille'></li>
  </ul>
  <ul class='agencement'>
    <li class='centrer'></li>
    <li class='gauche'></li>
    <li class='droite'></li>
  </ul>
  <ul class='fichiers'>
    <li class='image'></li>
    <li class='iframe'></li>
    <li class='lien'></li>
  </ul>
</div>